<footer>
    &copy; 2025 My Shopping Mall |
    <a href="/about">회사소개</a> |
    <a href="/terms">이용약관</a> |
    <a href="/privacy">개인정보처리방침</a> <br/>
    연락처: 010-4435-9485 | 이메일: knsuho990@gmail.com
</footer>
