<header>
    <div class="logo" onclick="location.href='/'">SHOPMALL</div>
    <nav>
        <ul>
            <% if (user) { %>
                <li><strong><%= user.name %></strong>님 환영합니다</li>
                <li><a href="/mypage">마이페이지</a></li>
                <li><a href="/cart">장바구니</a></li>
                <li><a href="/user/logout">로그아웃</a></li>
            <% } else { %>
                <li><a href="/user/login">로그인</a></li>
                <li><a href="/user/register">회원가입</a></li>
            <% } %>
            <li><a href="/board">고객센터</a></li>
            <li><a href="/notice">공지사항</a></li>
        </ul>
    </nav>
</header>
