<head>
    <meta charset="UTF-8" />
    <title>페이지 제목</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<h2>로그인</h2>
<form action="/user/login" method="post">
    <input type="text" name="username" placeholder="아이디" required><br>
    <input type="password" name="password" placeholder="비밀번호" required><br>
    <button type="submit">로그인</button>
</form>